/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #354A5F;
    font-size: 1em;
    line-height: 1.4;
    background-color: white;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #ECF0F3;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;

}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 15px solid #354A5F;
    height: 70px;
}

.footer-container,
.main aside {
    margin-top: 20px;
    border-left: 3px solid #354A5F;
    text-align: right;

}

.header-container,
.footer-container{
    background: #2E3F51;
}

.title {
    color: #ECF0F3;
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.footer-container{
    background:#2E3F51;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav a {

    margin-bottom: 10px;


    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-family: "Arial Narrow";
    font-size: 20px;

    color: #ECF0F3;


}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    background-color:#354A5F;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;

}

.main aside {
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#sidebar{
    float: right;
    border-left: solid 2px #354A5F;
    text-align: right;
    text-decoration: none;
    list-style-type: none;
    width: 255px;
    margin-right: 65px;
}

#sidebar li{
    color: #354A5F;
    list-style-type: none;
}

#sidebar li a{
color: #354A5F;
    text-decoration: none;
    opacity: 1;
}

#sidebar li a:hover{
    opacity: 0.7;

}


#sidebar h2 {
    border-top: solid 1px #354A5F;
    border-bottom: solid 1px #354A5F;;
    text-align: center;
    list-style-type: none;
    font-size: 1.2em;
}



img{

    margin-top: 5px;
    margin-left: 80px;
    margin-right: auto;

}


.left-nav{
 margin-right: 48px;


}
.right-nav{
    float: right;

}

.logo{
    opacity:1;
         
}

.logo:hover{
    opacity:0.7;
}



.myButton {
    background-color:transparent;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:2px;
    border:1px solid #2e3f51;
    display:inline-block;
    cursor:pointer;
    color:#2e3f51;
    font-family:Arial;
    font-size:16px;

    padding:4px 18px;
    text-decoration:none;
}
.myButton:hover {
    background-color:transparent;
    opacity: 0.7;
}
.myButton:active {
    position:relative;
    top:1px;
}


.copyright{
    float: left;
    margin-left: 73px;

}

.footer-tekstje{
    margin-right:83px;


}

.hoover{
    opacity: 0.7;
    text-decoration: none;
    color: #354A5F;

}
.hoover:hover{
    opacity: 1;

}

h2 a{
    text-decoration: none;
    color:#354A5F;

}


.next_previous{
    color:#354A5F;
    text-decoration: none;
    }

.next_previous:hover{
    opacity: 0.7;

}


.articles{
    color: #354A5F;
    text-decoration: none;
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    width: 57%;

   }

pre{


    overflow-x: hidden;
    text-overflow: ellipsis;
    font-family: Arial;


}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: right;

        margin-right: 3px;
        padding: 25px 2%;

    }



/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {

    }
}

@media only screen and (min-width: 768px) {



/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 75%;

    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 45%;
        margin-left: 73px;
    }

    aside {
        float: right;
        width: 20%;
        margin-right: 12px;
    }


}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}