/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #1C1C1C;
    font-size: 1em;
    line-height: 1.4;
    background-color: white;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #ECF0F3;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px "Raleway", sans-serif;;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 4px solid #DD2525;
    height: 73px;
}


.main aside {
    margin-top: 20px;
    border-left: 1px solid #DD2525;
    text-align: right;

}

.header-container,
.footer-container{
    background: #1C1C1C;
    text-align: right;
}

.title {
    color: #1C1C1C;
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.footer-container{
    background:#1C1C1C;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav a {

    margin-bottom: 10px;


    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-family: "Raleway", sans-serif;;
    font-size: 15px;

    color: #ECF0F3;


}

nav a:hover,
nav a:visited,
nav a:active{
    background-color:#DD2525;
    color: #ECF0F3;
    transition: all 0.3s ease-in-out;
}




nav a:hover {
    background-color:#DD2525;
    transition: all 0.3s ease-in-out;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
    font-family: "Courier New", Courier, monospace;
}

.main article h2 {
    font-size: 2em;
    font-family: "Courier New", Courier, monospace;
}
.widgettitle{
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
    text-decoration: none;
}

.main aside {
    padding: 0px 5% 10px;

}

.main aside h3{
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
    }


.footer-container footer {
    color: white;
    padding: 10px 0;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    font-weight: 600;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#sidebar{
    float: right;
    border-left: 1px solid #DD2525;
    text-align: right;
    text-decoration: none;
    list-style-type: none;
    width: 255px;
    margin-right: 65px;
}

#sidebar li{
    color: #1C1C1C;
    list-style-type: none;
}

#sidebar li a{
    color: #1C1C1C;
    text-decoration: none;
    opacity: 1;
}

#sidebar li a:hover{
    color: #DD2525;
    transition: all 0.2s ease-in-out;
}


#sidebar h2 {
    border-top: solid 1px #1C1C1C;
    border-bottom: solid 1px #1C1C1C;
    text-align: center;
    list-style-type: none;
    font-size: 1.2em;
}



img{

    margin-top: 5px;
    margin-left: 80px;
    margin-right: auto;

}


.left-nav{
 margin-right: 48px;


}
.right-nav{
    float: right;

}

.logo{
    opacity:1;
    margin-right: 50px;
    margin-left: 2px;
    margin-top: 5px;
}

.logo:hover{
    opacity:0.7;
    transition: all 0.3s ease-in-out;

}



.myButton {
    background-color:transparent;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:2px;
    border:1px solid #1C1C1C;
    display:inline-block;
    cursor:pointer;
    color:#1C1C1C;
    font-family: "Raleway", sans-serif;
    opacity: 1;
    font-size:16px;

    padding:4px 18px;
    text-decoration:none;
}
.myButton:hover {
    background-color:#DD2525;
    color: #ffffff;
    border:1px solid #DD2525;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}
.myButton:active {
    position:relative;
    top:1px;
}


.copyright{
    float: left;
    margin-left: 73px;

}

.footer-tekstje{
    margin-right:65px;


}

.hoover{
    opacity: 0.7;
    text-decoration: none;
    color: #354A5F;

}
.hoover:hover{
    opacity: 1;

}

h2 a{
    text-decoration: none;
    color:#1C1C1C;

}


.next_previous{
    color:#1C1C1C;
    text-decoration: none;
    }

.next_previous:hover{
    opacity: 0.7;

}


.articles{
    color: #1C1C1C;
    text-decoration: none;
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    width: 57%;

   }

pre{


    overflow-x: hidden;
    text-overflow: ellipsis;
    font-family: Arial;
    white-space: initial;

}




/* comments section */

#date{
    font-size: 12px;
}



.submit{
    background-color:transparent;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:2px;
    border:1px solid #1C1C1C;
    display:inline-block;
    cursor:pointer;
    color:#1C1C1C;
    font-family: "Raleway", sans-serif;
    opacity: 1;
    font-size:16px;

    padding:4px 18px;
    text-decoration:none;
}
.submit:hover {
    background-color:#DD2525;
    color: #ffffff;
    border:1px solid #DD2525;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}

textarea{
    border:1px solid #1C1C1C;
    width: 456px;
    border-radius:2px;

}

.logged-in-as a{
    text-decoration: none;
    color: #1C1C1C;
    text-decoration: none;
    opacity: 1;

    font-size: 14px;
}

.logged-in-as a:hover{
    color: #DD2525;
    transition: all 0.2s ease-in-out;
}

.logged-in-as a:last-child{
    float: right;

}



#respond h2{
    text-decoration: none;
    color:#1C1C1C;
    text-align: center;
    list-style-type: none;
    font-size: 1.2em;
    font-family: "Courier New", Courier, monospace;
    border-top:1px solid #1C1C1C;
    border-bottom:1px solid #1C1C1C;
}

#respond{
    margin-top: 80px;

}



article > ol{
list-style: none;
    -webkit-margin-before: 0;
    padding: 0;
}

article > ol > li{
    list-style: none;
    margin-bottom: 50px;
    border-left: 1px solid #1C1C1C;;

}


.comment-author img{
    margin: 0;
}

.comment-meta a{
      font-size: 12px;
      text-decoration: none;
      color:#1C1C1C;
  }

.comment-meta a:hover{
     color: #DD2525;
    transition: all 0.2s ease-in-out;
}



.reply a{
    background-color:transparent;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:2px;
    border:1px solid #1C1C1C;
    display:inline-block;
    cursor:pointer;
    color:#1C1C1C;
    font-family: "Raleway", sans-serif;
    opacity: 1;
    font-size:16px;
    padding:4px 18px;
    text-decoration: none;
}

.reply a:hover{
    background-color:#DD2525;
    color: #ffffff;
    border:1px solid #DD2525;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}

.comment-section{
    text-decoration: none;
    color: #1C1C1C;
    text-align: center;
    list-style-type: none;
    font-size: 1.2em;
    font-family: "Courier New", Courier, monospace;
    border-top: 1px solid #1C1C1C;
    border-bottom: 1px solid #1C1C1C;
    margin-top: 120px;

}


.children{
    margin-left: 80px;
    margin-top: 15px;
    margin-bottom: 15px;
    list-style: none;
}


ol > li > div{
    margin-left: 20px ;
    list-style: none;
}

/* form */

form{
    text-align: left;
}

form p span{

}


.wpcf7-submit {

    background-color:transparent;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:2px;
    border:1px solid #1C1C1C;
    display:inline-block;
    cursor:pointer;
    color:#1C1C1C;
    font-family: "Raleway", sans-serif;
    opacity: 1;
    font-size:16px;
    padding:4px 18px;
    text-decoration: none;

}

.wpcf7-submit:hover {
    background-color:#DD2525;
    color: #ffffff;
    border:1px solid #DD2525;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}

article > span{
    width: 100%;

}

input{
    width: 460px;
    border:1px solid #1C1C1C;
    border-radius:2px;

}

.form-half{
    width: 200px;
    display: inline-block;

}

.last{
    float: right;
}
.form-half input{
    width: 200px;
}

#googlemap {
    width: 461px;
    height: 400px;
}


.contact-gegevens p{
    font-size: 12px;
    display: inline-block;
}

.contact-gegevens p:last-child{
    float: right;
}

.title-contact {
    text-decoration: none;
    color: #1C1C1C;
    text-align: center;
    list-style-type: none;
    font-size: 1.2em;
    font-family: "Courier New", Courier, monospace;
    border-top: 1px solid #1C1C1C;
    border-bottom: 1px solid #1C1C1C;
    margin-top: 16px;
}


/* about me*/


.me{
    margin: 0;
    width: 200px;
    display: inline-block;
}
.left{
float: left;
width: 42%;
}



.right{
    float: right;
    text-align:left;
    width: 58%;
}

.about{
    float: right;
    font-weight: 300;

}
.right ul{
    margin-top: 0;
    list-style: none;
    font-weight: 600;
}

.right ul li{
    margin-bottom: 10px;
}

.line{
    border-bottom: thin solid #EEEEEE;
    position: relative;
    height: 1px;
    margin: 250px 0px 10px 0px;
}



.about-text{
    text-align: center;
}



/*portfolio*/

.h2port{
    font-size: 24px;
    margin-bottom: 10px;
}

/* voter */

.watch-action{

    margin-left: 100px;

}

.watch-position{
    margin-left: 0;
    margin-right: 100px;

}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: right;

        margin-right: 3px;
        padding: 25px 2%;

    }



/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {

    }
}

@media only screen and (min-width: 768px) {



/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 75%;

    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 45%;
        margin-left: 73px;
    }

    aside {
        float: right;
        width: 20%;
        margin-right: 12px;
    }


}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;

    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}